body {
  background: url('images/bg.jpg') center center fixed no-repeat;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}

@media only all and (max-width: 1024px) and (max-height: 768px) {
  body {  
    -moz-background-size: 1024px 768px;
    -webkit-background-size:1024px 768px;
    background-size: 1024px 768px;  
  }
}